/* ******************************************************************** */
/* MEDIA QUERIES */
/* ******************************************************************** */



@media screen and (max-width: 950px){
    .graphisme img,
    .video img,
    .webdesign img {
        display: none;
    }
    
    .graphisme,
    .webdesign,
    .video {
        width: 100%
    }
}


@media screen and (max-width: 600px) /* 600 pixels de large ou moins */
{
    
    
}




/* ******************************************************************** */
/* portfolio  */
/* ******************************************************************** */


/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {
		width: 768px; 
	}
}



/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	.container { 
		width: 95%; 
	}
	#portfoliolist .portfolio {
		width:48%;
		margin:1%;
	}		
	#ads {
		display:none;
	}
}



/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		width: 70%;
	}
	#ads {
		display:none;
	}
}